APP_NAME="Medical Chatbot"
APP_VERSION="1.0.0"

LLM_MODEL="openai/gpt-oss-120b"

HF_TOKEN=""
BASE_MODEL_ID="Qwen/Qwen3-4B-Instruct-2507"
FINETUNE_MODEL="mohammedehab100/finetuned_model"

WHISPER_MODEL="whisper-large-v3"

GROQ_API_KEY=""

TEMPERATURE=0.3
MAX_RETRIES=2

# ===== TTS SETTINGS =====
TTS_VOICES_EN="en-US-AriaNeural"
TTS_VOICES_AR="ar-EG-SalmaNeural"

# ====== AUDIO SETTINGS ======
AUDIO_INPUT_PATH="./input_audio.wav"
AUDIO_OUTPUT_PATH="./output_audio.mp3"

